.contact.information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact.information .content-text {
	text-align: center;
	margin-bottom: 56px;
}

.contact.information .container-name,
.contact.information .container-phonenum,
.contact.information .container-emailadd,
.contact.information .container-subject,
.contact.information .container-contant {
	position: relative;
}

.contact.information form {
	font-family: "Montserrat";
	font-size: 20px;
}

.contanier-info-contact {
	display: flex;
	flex-direction: column;
}

/* styling of Input */
.contact.information .input-form {
	background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	padding-inline: 0px;
	padding: 64px 0 10px 0;
	border: none;
	border-bottom: 1px solid var(--text-tertiary-color);
}

.contact.information input,
.contact.information textarea {
	color: var(--text-primary-color);
	font-family: inherit;
	font-size: inherit;
}

.contact.information input::placeholder,
.contact.information textarea::placeholder {
	color: var(--text-tertiary-color);
	font-family: inherit;
	font-size: inherit;
}

/* styling of animated border */
.contact.information .input-border {
	position: absolute;
	background: var(--primary-color);
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: 0.3s;
	display: inline-block;
}

/* Hover on Input */
/* .contact.information #name:hover,
.contact.information #phonenum:hover,
.contact.information #emailadd:hover,
.contact.information #subject:hover,
.contact.information #contant:hover {
	background: var(--hover-form-color);
} */

.contact.information #name:focus,
.contact.information #phonenum:focus,
.contact.information #emailadd:focus,
.contact.information #subject:focus,
.contact.information #contant:focus {
	outline: none;
}

/* here is code of animated border */
.contact.information #name:focus ~ #nameBorder.input-border,
.contact.information #phonenum:focus ~ #phonenumBorder.input-border,
.contact.information #emailadd:focus ~ #emailaddressBorder.input-border,
.contact.information #subject:focus ~ #subjecttextBorder.input-border,
.contact.information #contant:focus ~ #contanttextBorder.input-border {
	width: 100%;
}

/* === if you want to do animated border on typing === */
/* remove input:focus code and uncomment below code */
/* .contact.information #name:valid ~ #nameBorder.input-border,
.contact.information #phonenum:valid ~ #phonenumBorder.input-border,
.contact.information #emailadd:valid ~ #emailaddressBorder.input-border,
.contact.information #subject:valid ~ #subjecttextBorder.input-border,
.contact.information #contant:valid ~ #contanttextBorder.input-border {
	width: 100%;
} */

.contact.information label {
	margin: 64px 0 8px 0;
	display: inline-block;
	color: var(--text-tertiary-color);
	font-size: 20px;
}

.contact.information textarea {
	width: 100%;
	padding: 12px 16px;
	resize: none;
	height: 90px;
	border: 1px solid var(--text-tertiary-color);
	border-radius: 8px;
}

.contact.information .container-btn {
	margin: 24px 0;
	text-align: center;
}

.contact.information .container-btn .button {
	border: none;
	color: var(--text-secondary-color);
}

/* Quando o campo é válido */
/* .contact.information input:valid {
} */

.contact.information .error-message {
	display: none;
}

.contact.information .error-message {
	color: red;
	font-size: 14px;
}

/* Mensagem de erro personalizada */
/* .contact.information input:invalid + .error-message {
	display: block;
	color: red;
	font-size: 14px;
} */

@media screen and (min-width: 1440px) {
	.contact.information form {
		width: 790px;
	}

	.contact.information .contanier-info-contact {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}

	.contact.information .container-phonenum .input-form,
	.contact.information .container-emailadd .input-form {
		background-color: transparent;
		width: 383px;
	}
}

/* pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" */
/* pattern="[0-9]{2}[0-9]{9}" */
