header {
  /* width: 100%; --> removido pois o padding já faz este papel*/
  /* height: 138px; --> removido pois o padding já faz este papel */
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  /* margin: 37px 0 0 48px; */
}

.navigation-menu {
  margin-top: 24px;
}

nav {
  display: none;
}
