.index.hero.footer .img {
	background: url(../img/bg-bottom-hero-mobile.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.packages.hero.footer .img {
	background: url(../img/pacotes/japan-bg-bottom-hero-mobile.png) no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (min-width: 768px) {
	.index.hero.footer .img {
		background: url(../img/bg-bottom-hero-tablet.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.packages.hero.footer .img {
		background: url(../img/pacotes/japan-bg-bottom-hero-tablet.png)
			no-repeat;
		background-size: cover;
		background-position: center;
	}
}

@media screen and (min-width: 1024px) {
	.index.hero.footer .img {
		background: url(../img/bg-bottom-hero-desktop.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.packages.hero.footer .img {
		background: url(../img/pacotes/japan-bg-bottom-hero-desktop.png)
			no-repeat;
		background-size: cover;
		background-position: center;
	}
}
