.hero.header .img {
	height: 400px;
	width: 100%;
	background: url(../img/hero-mobile.jpg) no-repeat;
	background-size: cover;
}

.hero.header h2 {
	padding: 88px 24px;
	text-align: center;
	line-height: 1.5;
}

/* ######## PACOTES.HTML ######## */
.packages.hero.header .img {
	height: 460px;
	width: 100%;
	background: url(../img/pacotes/japan-bg-hero-tablet.png) no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 0 88px 0;
}

.packages.hero.header h1 {
	font-size: 48px;
	color: var(--background-primary-color);
	padding: 65px 24px 20px 24px;
}

.packages.hero.header hr {
	width: 180px;
	height: 4px;
	background-color: var(--secondary-color);
	border: none;
	margin: 0 0 32px 24px;
}

.packages.hero.header h2 {
	color: var(--background-primary-color);
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	padding: 0 24px;
	font-weight: 400;
}

/* ######## BLOG.HTML ######## */
.blog.hero.header .img {
	height: 460px;
	width: 100%;
	background: url(../img/pacotes/japan-bg-hero-tablet.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.blog.hero.header h1 {
	font-size: 48px;
	color: var(--background-primary-color);
	padding: 65px 24px 20px 24px;
}

.blog.hero.header hr {
	width: 180px;
	height: 4px;
	background-color: var(--secondary-color);
	border: none;
	margin: 0 0 32px 24px;
}

.blog.hero.header h2 {
	color: var(--background-primary-color);
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	padding: 0 24px;
	font-weight: 400;
}

@media screen and (min-width: 768px) {
	.hero.header .img {
		height: 620px;
		background: url(../img/hero-tablet.jpg) no-repeat;
		background-size: cover;
	}

	.hero.header h2 {
		padding: 88px 60px;
		font-size: 32px;
	}

	/* ######## PACOTES.HTML ######## */
	.packages.hero.header .img {
		height: 620px;
	}

	.packages.hero.header .packages-container {
		padding: 210px 69px 108px 120px;
	}

	/* ######## BLOG.HTML ######## */
	.blog.hero.header .img {
		height: 620px;
	}

	.blog.hero.header .blog-container {
		padding: 210px 69px 108px 120px;
	}
}

@media screen and (min-width: 1024px) {
	.hero.header .img {
		background: url(../img/hero-desktop.jpg) no-repeat;
		background-size: cover;
	}

	.hero.header h2 {
		padding: 88px 120px;
	}

	/* ######## PACOTES.HTML ######## */
	.packages.hero.header .packages-container {
		padding: 160px 69px 160px 120px;
		width: 600px;
	}

	.packages.hero.header h2 {
		color: var(--background-primary-color);
		font-size: 32px;
		line-height: 150%;
		text-align: left;
		font-weight: 300;
	}

	/* ######## BLOG.HTML ######## */
	.blog.hero.header .blog-container {
		padding: 160px 69px 160px 120px;
		width: 600px;
	}

	.blog.hero.header h2 {
		color: var(--background-primary-color);
		font-size: 32px;
		line-height: 150%;
		text-align: left;
		font-weight: 300;
	}
}

@media screen and (min-width: 1920px) {
	.hero.header h2 {
		padding: 88px 160px;
	}
}
