.index.hero.header .img {
	background: url(../img/hero-mobile.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	margin: 0;
}

.index.hero.header h2 {
	text-align: center;
	margin: 88px 24px;
	width: 312px;
}

.packages.hero.header .img {
	background: url(../img/pacotes/japan-bg-hero-tablet.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.packages.hero.header h2 {
	color: var(--text-secondary-color);
}

.blog.hero.header .img {
	background: url(../img/blog/hero_blog_mobile.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.blog.hero.header h2 {
	color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
	.index.hero.header .img {
		background: url(../img/hero-tablet.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		height: 620px;
	}

	.index.hero.header h2 {
		margin: 88px 60px;
		width: 648px;
	}
}

@media screen and (min-width: 1440px) {
	.index.hero.header .img {
		background: url(../img/hero-desktop.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.index.hero.header h2 {
		margin: 104px 120px;
		width: 1200px;
	}

	.packages.hero.header .img {
		background: url(../img/pacotes/japan-bg-hero-desktop.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.blog.hero.header .img {
		background: url(../img/blog/hero_blog_desktop.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
}
