/* ######## INDEX.HTML ######## */
.index.hero.header .img {
	height: 400px;
	width: 100%;
	background: url(../img/hero-mobile.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 88px;
}

.index.hero.header h2 {
	text-align: center;
	line-height: var(--line-height-medium);
	margin: 88px 24px;
}

/* ######## PACOTES.HTML ######## */
.packages.hero.header .img {
	height: 460px;
	width: 100%;
	background: url(../img/pacotes/japan-bg-hero-tablet.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 81px 24px 0 24px;
	margin-bottom: 88px;
}

.packages.hero.header h1 {
	font-size: 48px;
	color: var(--background-primary-color);
	padding-bottom: 20px;
}

.packages.hero.header hr {
	width: 180px;
	height: 4px;
	background-color: var(--secondary-color);
	border: none;
	margin: 0;
}

.packages.hero.header h2 {
	color: var(--background-primary-color);
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	font-weight: var(--text-weigh);
	padding: 0;
}

/* ######## BLOG.HTML ######## */
.blog.hero.header .img {
	height: 460px;
	width: 100%;
	background: url(../img/blog/hero_blog_mobile.png) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 81px 24px 0 24px;
	margin-bottom: 88px;
}

.blog.hero.header h1 {
	font-size: 48px;
	color: var(--background-primary-color);
	padding-bottom: 20px;
}

.blog.hero.header hr {
	width: 180px;
	height: 4px;
	background-color: var(--secondary-color);
	border: none;
	margin: 0;
}

.blog.hero.header h2 {
	color: var(--background-primary-color);
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	font-weight: var(--text-weigh);
	padding: 0;
}

@media screen and (min-width: 768px) {
	.hero.header .img {
		height: 620px;
		background: url(../img/hero-tablet.jpg) no-repeat;
		background-size: cover;
	}

	.hero.header h2 {
		padding: 88px 60px;
		font-size: 32px;
		line-height: 48px;
	}

	/* ######## PACOTES.HTML ######## */
	.packages.hero.header .img {
		height: 620px;
	}

	.packages.hero.header .packages-container {
		padding: 159px 0 0 94px;
		width: 580px;
	}

	.packages.hero.header h2 {
		font-size: 32px;
		line-height: 48px;
	}

	/* ######## BLOG.HTML ######## */
	.blog.hero.header .img {
		height: 620px;
	}

	.blog.hero.header .blog-container {
		padding: 159px 0 0 94px;
		width: 580px;
	}

	.blog.hero.header h2 {
		font-size: 32px;
		line-height: 48px;
	}
}

@media screen and (min-width: 1024px) {
	.hero.header .img {
		background: url(../img/hero-desktop.jpg) no-repeat;
		background-size: cover;
	}

	.hero.header h2 {
		padding: 88px 120px;
	}

	/* ######## PACOTES.HTML ######## */
	.packages.hero.header .packages-container {
		padding: 160px 69px 160px 120px;
		width: 600px;
	}

	.packages.hero.header h2 {
		color: var(--background-primary-color);
		font-size: 32px;
		line-height: 150%;
		text-align: left;
		font-weight: 300;
	}

	/* ######## BLOG.HTML ######## */

	/* .blog.hero.header .img {
		height: 620px;
	}

	.blog.hero.header .blog-container {
		padding: 160px 69px 160px 120px;
		width: 600px;
	}

	.blog.hero.header h2 {
		color: var(--background-primary-color);
		font-size: 32px;
		line-height: 150%;
		text-align: left;
		font-weight: 300;
	} */
}

@media screen and (min-width: 1440px) {
	.blog.hero.header .img {
		background: url(../img/blog/hero_blog_desktop.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
}
