.blog.location {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blog.location .content-container {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.blog.location .content-container .content {
	display: flex;
	flex-direction: column;
}

.blog.location .content-container .image {
	margin-top: 24px;
	width: 312px;
	height: 360px;
}

.blog.location .content .first {
	background: url("../img/blog/tokyo_01_mobile.png") no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.blog.location .content .second {
	background: url("../img/blog/tokyo_02_mobile.png") no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.blog.location .content .content-footnote {
	font-size: 14px;
	line-height: 28px;
	margin-top: 8px;
}

@media screen and (min-width: 768px) {
	.blog.location .content.first {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

	.blog.location .content .second {
		background: url("../img/blog/tokyo_02_tablet.png") no-repeat;
		background-size: cover;
		background-position: center;
		height: 300px;
	}
}

@media screen and (min-width: 1440px) {
	.blog.location .content .first {
		background: url("../img/blog/tokyo_01_desktop.png") no-repeat;
		background-size: cover;
		background-position: center;
	}

	.blog.location .content .second {
		background: url("../img/blog/tokyo_02_desktop.png") no-repeat;
		background-size: cover;
		background-position: center;
	}
}
