.offers .offers-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.offers .offers-cards .container {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	padding: 24px 16px;
	text-align: center;
	box-sizing: border-box;
}

.offers .offers-cards .card {
	color: var(--text-secondary-color);
	width: 312px;
	height: 288px;
	box-sizing: border-box; /* Calcula automaticamente o tamanho do container, considerando o seu tamanho fixado em width + height, e o padding estipulado */
	border-radius: 16px;
}

.offers .offers-cards .card header {
	margin-bottom: 24px;
}

.offers .offers-cards .card header p {
	font-size: 20px;
	font-weight: var(--text-weight);
}

.offers .offers-cards .card header h3 {
	font-size: 40px;
	font-weight: var(--title-weight);
	margin: 8px 0 0 0;
}

.offers .offers-cards .card header span {
	font-size: 32px;
	margin-top: 24px;
	display: inline-block;
}

.offers .offers-cards .card.japao {
	background: url("../img/bg-card-japao.jpg") no-repeat;
	background-size: cover;
}

.offers .offers-cards .card.san-andreas {
	background: url("../img/bg-card-san-andreas.jpg") no-repeat;
	background-size: cover;
}

.offers .offers-cards .card.paraiba {
	background: url("../img/bg-card-paraiba.jpg") no-repeat;
	background-size: cover;
}

.offers .offers-cards .card.manaus {
	background: url("../img/bg-card-manaus.jpg") no-repeat;
	background-size: cover;
}

@media screen and (min-width: 768px) {
	.offers .offers-cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.offers .offers-cards .card header span {
		font-size: 40px;
	}
}

@media screen and (min-width: 1440px) {
	.offers .offers-cards {
		margin: 0;
	}
	.offers .offers-cards .card {
		width: 588px;
		height: 308px;
	}
}
