.hero.header.packages .img {
	height: 460px;
	width: 100%;
	background: url(../img/pacotes/japan-bg-hero-tablet.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.hero.header.packages h1 {
	font-size: 48px;
	color: var(--background-primary-color);
	padding: 65px 24px 20px 24px;
}

.hero.header.packages hr {
	width: 180px;
	height: 4px;
	background-color: var(--secondary-color);
	border: none;
	margin: 0 0 32px 24px;
}

.hero.header.packages h2 {
	color: var(--background-primary-color);
	font-size: 20px;
	line-height: 32px;
	text-align: left;
	padding: 0 24px;
	font-weight: 400;
}

.destinations.packages .section-title {
	margin-top: 88px;
}

.payments.packages .section-title {
	margin: 0;
}

.payments.packages .payment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.payments.packages .payment-container h2 {
	font-size: 40px;
	margin: 0 0 24px 0;
}

.payments.packages .payment-container p {
	margin-bottom: 24px;
}

.payments.packages .payment-container .image-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 254px 182px;
	gap: 24px;
	padding: 24px 0;
	width: 100%;
}

.payments.packages .payment-container .image-gallery .first {
	background: url("../img/pacotes/gallery1-mobile.png") no-repeat;
	background-size: cover;
	/* background-position: center; */
}

.payments.packages .payment-container .image-gallery .second {
	background: url("../img/pacotes/gallery2-mobile.png") no-repeat;
	background-size: cover;
	/* background-position: center; */
}

.payments.packages .payment-container .image-gallery .thirdy {
	background: url("../img/pacotes/gallery3-mobile.png") no-repeat;
	background-size: cover;
}

.payments.packages .payment-container .image-gallery .image.colspan-2 {
	grid-column: span 2;
}

@media screen and (min-width: 768px) {
	.hero.header.packages .img {
		height: 620px;
	}

	.hero.header.packages .packages-container {
		padding: 210px 69px 108px 120px;
	}

	.payments.packages .payment-container .content-container {
		margin: 0;
	}

	.payments.packages .payment-container .image-gallery .first {
		background: url("../img/pacotes/gallery1-tablet.png") no-repeat;
		background-size: cover;
		background-position: center;
	}

	.payments.packages .payment-container .image-gallery .second {
		background: url("../img/pacotes/gallery2-tablet.png") no-repeat;
		background-size: cover;
		background-position: center;
	}

	.payments.packages .payment-container .image-gallery .thirdy {
		background: url("../img/pacotes/gallery3-tablet.png") no-repeat;
		background-size: cover;
		background-position: center;
	}

	.payments.packages .payment-container .button {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.hero.header.packages .packages-container {
		padding: 160px 69px 160px 120px;
		width: 600px;
	}

	.hero.header.packages h2 {
		color: var(--background-primary-color);
		font-size: 32px;
		line-height: 150%;
		text-align: left;
		font-weight: 300;
	}

	.payments.packages .payment-container {
		margin: 0 125px;
	}
}

@media screen and (min-width: 1440px) {
	.payments.packages .payment-container {
		display: grid;
		gap: 0 23px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto;
		margin: 0 35px;
	}

	.payments.packages .payment-container .content-container {
		display: flex;
		flex-direction: column;
	}

	.payments.packages .payment-container .image-gallery {
		grid-column: span 3;
	}
}
