.index.payments .image-gallery .first {
	background: url("../img/gallery1-mobile.png") no-repeat;
	background-size: cover;
}

.index.payments .image-gallery .second {
	background: url("../img/gallery2-mobile.png") no-repeat;
	background-size: cover;
}

.index.payments .image-gallery .thirdy {
	background: url("../img/gallery3-mobile.png") no-repeat;
	background-size: cover;
}

.packages.payments a {
	margin-bottom: 24px;
}

.packages.payments .content-container h2 {
	font-size: 40px;
	margin: 0 0 24px 0;
}

.packages.payments .image-gallery .first {
	background: url("../img/pacotes/gallery1-mobile.png") no-repeat;
	background-size: cover;
}

.packages.payments .image-gallery .second {
	background: url("../img/pacotes/gallery2-mobile.png") no-repeat;
	background-size: cover;
}

.packages.payments .image-gallery .thirdy {
	background: url("../img/pacotes/gallery3-mobile.png") no-repeat;
	background-size: cover;
}

@media screen and (min-width: 768px) {
	.index.payments .image-gallery .first {
		background: url("../img/gallery1-tablet.png") no-repeat;
		background-size: cover;
	}

	.index.payments .image-gallery .second {
		background: url("../img/gallery2-tablet.png") no-repeat;
		background-size: cover;
	}

	.index.payments .image-gallery .thirdy {
		background: url("../img/gallery3-tablet.png") no-repeat;
		background-size: cover;
	}

	.packages.payments .image-gallery .first {
		background: url("../img/pacotes/gallery1-tablet.png") no-repeat;
		background-size: cover;
	}

	.packages.payments .image-gallery .second {
		background: url("../img/pacotes/gallery2-tablet.png") no-repeat;
		background-size: cover;
	}

	.packages.payments .image-gallery .thirdy {
		background: url("../img/pacotes/gallery3-tablet.png") no-repeat;
		background-size: cover;
	}

	.packages.payments .content-container .button {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
}
