.testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials .testimonial-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.testimonials article header {
	margin-bottom: 8px;
}

.testimonials article header p {
	font-size: 16px;
	line-height: 28px;
}

.testimonials article footer {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.testimonials article footer img {
	width: 86px;
	height: 86px;
}

.testimonials article footer .profile-content {
	width: 176px;
}

.testimonials article footer .profile-content h4 {
	font-size: 20px;
	line-height: 32px;
	font-weight: var(--title-weight);
	margin: 0;
}

.testimonials article footer .profile-content .rating {
	display: flex;
	justify-content: space-between;
}

.testimonials .rating .star {
	font-size: 32px;
	color: var(--secondary-color);
}

@media screen and (min-width: 1440px) {
	.testimonials .testimonial-container {
		flex-direction: row;
		justify-content: center;
	}
}
